$levender: #f4cbff;

header{
  font-size:2em; 
  border: .5em solid fuchsia;
  border-radius: 2em;
  background-color: $levender;
  display: flex;
  justify-content: center;
}
span{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h4{
  border: .10em solid deeppink;
  border-radius: 2em;
  padding: 2em;
  font-size: 5em;
  margin: 2em;
}


button{
  font-size: 3em;
  border:palevioletred dashed .5em; 
 
}

#add:hover {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color:lavenderblush;
  }
  100% {
    background-color: #FF4136;
  }
 
}
#sub:hover {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color:lavenderblush;
  }
  100% {
    background-color: rgb(54, 101, 255);
  }
 
}
footer{
  display: flex;
  justify-content: center;
  padding-top: 3em; 
}